
.margin_r
{
	margin-right: 0px !important;
}

.margin_l
{
	margin-left: 0px;
}

.margin_t
{
	margin-top:0px;
}

.margin_b
{
	margin-bottom: 0px;
}


section 
{
	height: 1433px;
}

section ul
{
	height: 22px
}

section ul li
{
	float: left;
	margin-left: 32px;
}

section ul li:first-child
{
	margin-left: 0px;
	list-style-type: none
}

section ul li a
{
	text-decoration: none;
	color:#9b9b9b;
}

section h2
{
	font-size: 72px
}

section .photo
{
	height: 370px;
	width: 370px;
	margin-right: 28px;
	margin-top:30px;
	display: inline-block;
	background:#ad0000;
}

section	.bg_photo
{
	background:url(../img/buketik.jpg);
}

section	.bg_photo_2
{
	background:url(../img/roud.jpg);
}




section .mac {
    height: 382px;
    /*margin-top: 60px;*/
    width: 100%;
    padding-top:61px;
}


section .mac .show_work
{
	width: 514px;
	height: 382px;
	background-image:url(../img/ari_1.jpg);
	position: relative;
	color:white;
}

section .show_work:before
{
	content:"";
	width:374px;
	height: 380px;
	background-image:url(../img/ari_2.jpg);
	display: inline-block;
	left:-374px;
	top:2px;
	position: absolute;
}

 section .show_work h4 ,
 section .show_work p ,
 section .show_work button ,
{
	margin-left: 3px
}

section .mac .show_work h4 
{
	padding-top: 83px;
	font-size: 24px
}

section .mac .show_work p
{
	padding-top: 29px;
	font-size: 14px;
}

section .mac .show_work .button
{
	height: 49px;
	width:191px;
	display: inline-block;
	 line-height: 45px;
	 border: 1px solid white;
	 text-align: center;
	 text-decoration: none;
	 color:white;
	 margin-top:98px;
}


/* animation button */

section .mac form
{
	width: 565px;
	height: 311px;
	margin-right: 3px;
	margin-top:50px;
}

section .mac form h4
{
	font-size: 36px;
	padding-bottom: 30px
}

section .mac form input
{
	width: 565px;
	height: 50px;
	border: 0px;
	border-bottom: 2px solid black;
	margin-top:20px;
	font-size: 18px
}

section .mac form input:first-child
{
	margin-top:0px;
}

section .mac form input:last-child
{
	width: 177px;
	border: 2px solid black
}

section .mac form input {
    width: 565px;
    height: 50px;
    border: 0px;
        border-bottom-width: 0px;
        border-bottom-style: none;
        border-bottom-color: currentcolor;
    border-bottom: 1px solid black;
    margin-top: 20px;
    font-size: 18px;
}

section .mac form input[type = 'submit'] {
    border: 1px solid black;
    background: white;
}

section .mac form input[type = 'submit']:hover
{
	transition: all .5s;
	background-color: #AD0000;
	border:1px solid #AD0000;
	color: white
}

section .mac .show_work .button:hover{
    transition: all .5s;
    background-color: white;
    color:black;
}

section .show_work:before {
    content: "";
    width: 374px;
    height: 380px;
    background-image: url(../img/ari_2.jpg);
    display: inline-block;
    left: -374px;
    top: 1px;
    position: absolute;
}

/* header */

header .str_hed:after {
    content: "";
    width: 63px;
    height: 19px;
    display: inline-block;
    position: absolute;
    background-image: url(../img/line_left.jpg);
    top: 9px;
    right: 97px;
}

header span {
    display: inline-block;
    margin-left: 172px;
    margin-top: 55px;
    font-size: 21px;
}